In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('bank.csv')

In [5]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [6]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [10]:
def replace_marital(val):
    if val=="single":
        return 0
    else:
        return 1
df["marital"]=df["marital"].apply(replace_marital,1)

In [11]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,1,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,1,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,1,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,1,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,1,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [12]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,1,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,1,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,1,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,1,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,1,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,0,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,1,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,1,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,1,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,0,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,0,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,1,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,1,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,0,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,0,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,1,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,0,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,1,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,1,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,1,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,1,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,0,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,1,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,1,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,0,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,0,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,0,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,0,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,1,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,0,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,1,secondary,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,37,management,1,tertiary,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,58,self-employed,1,tertiary,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,36,services,1,secondary,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,31,management,0,tertiary,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,49,retired,1,unknown,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,32,technician,1,secondary,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,30,self-employed,0,tertiary,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,55,services,1,secondary,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,32,blue-collar,1,secondary,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,52,admin.,1,secondary,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,38,unemployed,1,secondary,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,60,retired,1,secondary,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,60,retired,1,tertiary,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,30,admin.,1,secondary,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,44,unemployed,1,secondary,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,32,blue-collar,1,secondary,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,46,entrepreneur,1,secondary,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,34,management,1,secondary,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,40,management,1,tertiary,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,34,housemaid,1,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,0,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,1,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,1,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,0,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,0,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,1,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,0,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,1,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,1,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [13]:
df.shape

(11162, 17)

In [14]:
df.describe()

,age,marital,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,0.684824,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,0.464607,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,0.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,0.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,1.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,1.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
age          11162 non-null int64
job          11162 non-null object
marital      11162 non-null int64
education    11162 non-null object
default      11162 non-null object
balance      11162 non-null int64
housing      11162 non-null object
loan         11162 non-null object
contact      11162 non-null object
day          11162 non-null int64
month        11162 non-null object
duration     11162 non-null int64
campaign     11162 non-null int64
pdays        11162 non-null int64
previous     11162 non-null int64
poutcome     11162 non-null object
deposit      11162 non-null object
dtypes: int64(8), object(9)
memory usage: 1.4+ MB

In [19]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,1,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,1,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,1,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,1,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,1,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [20]:
df.isnull()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11133,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11134,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11135,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11136,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11137,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11138,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11139,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11140,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11141,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11142,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11143,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11144,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11145,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11146,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11147,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11148,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11149,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11150,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11151,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11152,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11153,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11154,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11155,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11156,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11157,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11158,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11159,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11160,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11161,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [21]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['job']=le.fit_transform(df['job'])
print(df['job'].value_counts())

4     2566
1     1944
9     1823
0     1334
7      923
5      778
6      405
8      360
10     357
2      328
3      274
11      70
Name: job, dtype: int64

In [5]:
df['marital']=le.fit_transform(df['marital'])
print(df['marital'].value_counts())

1    6351
2    3518
0    1293
Name: marital, dtype: int64

In [6]:
df['default']=le.fit_transform(df['default'])
print(df['default'].value_counts())

0    10994
1      168
Name: default, dtype: int64

In [7]:
df['education']=le.fit_transform(df['education'])
print(df['education'].value_counts())

1    5476
2    3689
0    1500
3     497
Name: education, dtype: int64

In [8]:
df['housing']=le.fit_transform(df['housing'])
print(df['housing'].value_counts())

0    5881
1    5281
Name: housing, dtype: int64

In [9]:
df['loan']=le.fit_transform(df['loan'])
print(df['loan'].value_counts())

0    9702
1    1460
Name: loan, dtype: int64

In [10]:
df['contact']=le.fit_transform(df['contact'])
print(df['contact'].value_counts())

0    8042
2    2346
1     774
Name: contact, dtype: int64

In [11]:
df['month']=le.fit_transform(df['month'])
print(df['month'].value_counts())

8     2824
1     1519
5     1514
6     1222
9      943
0      923
3      776
10     392
4      344
11     319
7      276
2      110
Name: month, dtype: int64

In [12]:
df['poutcome']=le.fit_transform(df['poutcome'])
print(df['poutcome'].value_counts())

3    8326
0    1228
2    1071
1     537
Name: poutcome, dtype: int64

In [13]:
df['deposit']=le.fit_transform(df['deposit'])
print(df['deposit'].value_counts())

0    5873
1    5289
Name: deposit, dtype: int64

In [22]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [14]:
y=df.iloc[:,[0,2]]
y.head()

   age  marital
0   59        1
1   56        1
2   41        1
3   55        1
4   54        1

In [20]:
x=df.iloc[:,0:3]
x.head()

   age  job  marital
0   59    0        1
1   56    0        1
2   41    9        1
3   55    7        1
4   54    0        1

In [16]:
y=df.iloc[:,[0,2]]
y.head()

   age  marital
0   59        1
1   56        1
2   41        1
3   55        1
4   54        1

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(x_train.shape)
print(y_test.shape)

(8929, 3)
(2233, 2)

In [22]:
x_train

       age  job  marital
5811    36    4        1
5459    46   10        1
4891    45    1        1
3128    60    4        1
109     41    1        1
3398    27    9        2
4994    41    1        1
6674    43    4        0
36      35    1        1
1657    47    1        1
8891    31    9        2
8603    46    3        1
8641    30    7        0
2485    58    6        1
314     51    7        0
637     59    3        0
1754    25    8        2
4473    47    0        1
2007    55    9        1
9041    37    9        1
5635    50    1        2
5523    41    7        1
9549    35    1        1
10481   39    1        0
8949    27    3        1
7102    40    6        1
1085    37    0        2
9542    30    6        2
6586    50    9        0
1027    59    9        0
...    ...  ...      ...
8733    43    6        1
7541    51    4        1
68      41    0        1
10861   31    4        2
7043    36    4        2
1432    27    8        2
5625    45    4        1
3173    24    8        2
4866    24    8        2
3354    31    4        2
8304    38    6        1
8632    41    7        1
2661    58    4        1
2532    26    1        2
8709    42    7        0
6630    45    2        0
3502    53    4        1
7121    57    2        1
1126    29    0        2
6416    38    1        1
6155    55    5        0
8341    33    4        1
3529    29   10        2
4114    23    8        2
5177    39    1        1
8909    31    9        2
5466    34    1        2
10283   59    4        1
9640    28    1        2
4231    24    8        2

[8929 rows x 3 columns]

In [23]:
x_test

       age  marital
5811    36        1
5459    46        1
4891    45        1
3128    60        1
109     41        1
3398    27        2
4994    41        1
6674    43        0
36      35        1
1657    47        1
8891    31        2
8603    46        1
8641    30        0
2485    58        1
314     51        0
637     59        0
1754    25        2
4473    47        1
2007    55        1
9041    37        1
5635    50        2
5523    41        1
9549    35        1
10481   39        0
8949    27        1
7102    40        1
1085    37        2
9542    30        2
6586    50        0
1027    59        0
...    ...      ...
8733    43        1
7541    51        1
68      41        1
10861   31        2
7043    36        2
1432    27        2
5625    45        1
3173    24        2
4866    24        2
3354    31        2
8304    38        1
8632    41        1
2661    58        1
2532    26        2
8709    42        0
6630    45        0
3502    53        1
7121    57        1
1126    29        2
6416    38        1
6155    55        0
8341    33        1
3529    29        2
4114    23        2
5177    39        1
8909    31        2
5466    34        2
10283   59        1
9640    28        2
4231    24        2

[8929 rows x 2 columns]

In [24]:
df.age.value_counts()

31    496
32    477
34    466
33    464
35    461
30    456
36    432
37    370
38    353
39    343
29    328
40    326
41    299
42    295
28    292
46    258
47    255
45    253
43    249
27    246
49    241
44    238
26    235
48    214
52    205
53    204
55    197
51    194
50    194
54    187
     ...
66     29
67     29
72     28
65     27
71     27
68     24
70     23
76     21
20     20
69     20
78     19
74     18
75     18
80     17
19     13
79     10
82     10
81      9
18      8
83      7
86      5
85      5
84      5
87      4
88      2
92      2
93      2
90      2
89      1
95      1
Name: age, Length: 76, dtype: int64

In [25]:
df.education.value_counts()

1    5476
2    3689
0    1500
3     497
Name: education, dtype: int64

In [26]:
from collections import Counter as count
count(df.education)

Counter({1: 5476, 2: 3689, 0: 1500, 3: 497})

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print("Before Label Encoding:",count(df['education']))

Before Label Encoding: Counter({1: 5476, 2: 3689, 0: 1500, 3: 497})

In [28]:
df['education']=le.fit_transform(df['education'])

In [30]:
print("After Label  Encoding:",count(df['education']))

After Label  Encoding: Counter({1: 5476, 2: 3689, 0: 1500, 3: 497})